# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
db.sqlite3
media/

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# Static files (optional)
staticfiles/

# IDE
.vscode/
.idea/

# MacOS
.DS_Store

# Logs
*.log

# Migrations (optional, თუ გინდა სუფთა იყოს)
**/migrations/*
!**/migrations/__init__.py